{% extends 'base.html.twig' %}

{% block body %}
    <section {{ react_component('Layout/Header') }} class="w-full flex flex-col content-center justify-center">
        <twig:Spinner />
    </section>
{% endblock %}
