@use 'sass:color'
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap')

@tailwind base
@tailwind components
@tailwind utilities

$themePrimary: #8750f7
$themePrimary1: #2400ff
$themePrimary2: #9b8dff
$themePrimary3: #4654f9
$themeH3Primary1: #814cec
$themeH4Primary1: #240F31
$themeSecondary: #2a1454
$themeAccent1: #0f0715
$themeAccent2: #140c1c
$themeWhite: #fff
$body: #dddddd

body
  color: $body
  font-family: 'Sora', sans-serif

//:root
//  --theme-primary: #8750f7
//  --theme-primary-1: #2400ff
//  --theme-primary-2: #9b8dff
//  --theme-primary-3: #4654f9
//  --theme-h3-primary-1: #814cec
//  --theme-h4-primary-1: #240F31
//  --theme-secondary: #2a1454
//  --theme-accent-1: #0f0715
//  --theme-accent-2: #140c1c

.position-center
  @apply flex flex-row content-center justify-center flex-wrap

.button
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24)
  @apply cursor-pointer outline-none transition-all

  &:active
    @apply transform scale-95
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24)

.button-primary
  @apply flex content-center justify-center text-lg font-semibold button bg-theme-primary rounded-full
  &:hover
    background: color.adjust($themePrimary, $lightness: -5%)

nav a
  z-index: 1
  position: relative
  @apply position-center relative

  &:not(.active):hover
    @apply text-theme-primary

  &.active
    &:before
      content: ''
      position: absolute
      width: 100%
      height: 2px
      border-radius: 4px
      background-image: linear-gradient(260deg, $themeSecondary 0%, $themePrimary 100%)
      bottom: 5px
      left: 0
      transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out
      transform-origin: left
      transform: scaleX(1)

header.bg-theme-black-2
  box-shadow: 0 0 30px rgba(135, 80, 247, 0.2)

header .button:hover
  background: color.adjust($themePrimary, $lightness: -5%)

.hero-wrapper
  border: 1px solid $themeSecondary
  box-shadow: 0 0 30px rgba(135, 80, 247, 0.2)

.hero-title
  background-image: linear-gradient(to right, $themePrimary 0%, $themeWhite 100%)
  -webkit-text-fill-color: transparent
  -webkit-background-clip: text
  background-clip: text

.hero-wrapper img
  transition: all 0.4s ease-in-out 0s
  border: 1px solid transparent
  border-radius: 50%

  &:hover
    transform: scale(1.05)
    border: 1px solid $themePrimary

.hero-wrapper ul li
  @apply p-3
  border-radius: 50%
  border: 1px solid $themePrimary

  &:hover
    background: $themePrimary

    & svg
      fill: $themeWhite

  & svg
    fill: $themePrimary

@media (min-width: 768px)
  .hero-wrapper ul li
    @apply px-3 py-3 h-fit

.skills-header h2
    background-image: linear-gradient(to right, $themePrimary 0%, $themeWhite 100%)
    -webkit-text-fill-color: transparent
    -webkit-background-clip: text
    background-clip: text

.skills-categories
  & button
    @apply flex justify-center content-center rounded-full px-5 py-2 transition-all
    border: 1px solid $themeSecondary

    &:hover:not(.active)
      background: $themePrimary
      color: $themeWhite

    &.active
        background: $themePrimary
        color: $themeWhite


.skill
  @apply w-[150px] bg-theme-accent-2 flex flex-col content-center justify-center p-3 rounded-3xl shadow-lg flex-nowrap gap-y-4
  border: 1px solid var(--tj-theme-secondary)
  box-shadow: 0 0 30px rgba(135, 80, 247, 0.2)

  & div
    @apply w-1/2 h-1/2 flex content-center justify-center flex-wrap grayscale transition-all mx-auto

    & img
        @apply w-full h-full
        transition: 0.5s ease-in-out

  & span
    @apply w-auto text-center font-bold

  &:hover
    border: 1px solid $themePrimary
    background: $themeSecondary

    & div
      @apply grayscale-0
      & img
        scale: 1.2

@media (min-width: 768px)
  .skills-list
    @apply justify-center

  .skill
    @apply w-[200px] flex-nowrap

    & div
      @apply w-auto
      & img
        @apply w-2/3 h-2/3

    & span
      @apply h-auto text-xl

.recent-projects-header
  @apply text-center text-4xl font-bold mb-10
  background-image: linear-gradient(to right, $themePrimary 0%, $themeWhite 100%)
  -webkit-text-fill-color: transparent
  -webkit-background-clip: text
  background-clip: text

.project
  border: 1px solid var(--tj-theme-secondary)
  box-shadow: 0 0 30px rgba(135, 80, 247, 0.2)
  border-radius: 20px

  & a:nth-child(1)
    @apply transition-all
    &:hover
      transform: scale(1.05)
      filter: brightness(90%)
    & img
      border-radius: 10px

  & .tag
    @apply flex justify-center content-center rounded-full px-5 py-3 transition-all text-sm
    border: 1px solid $themePrimary
    background: $themeSecondary

  & .project-live-preview
    &:hover
      background: color.adjust($themePrimary, $lightness: -5%)

@media (min-width: 1024px)
  .skills-categories button
    @apply px-6 py-3 text-xl

  .skills-list
    @apply px-2

  .skill
    @apply w-[150px]

    & div
      & img
        @apply w-3/4 h-3/4

    & span
        @apply text-lg